@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-courier-prime: "Courier Prime", monospace;

  /* Light mode */
  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(210, 40%, 92%);
  --color-text-primary: hsl(222, 47%, 11%);
  --color-text-secondary: hsl(215, 20%, 40%);
  --color-border-default: hsl(213, 27%, 84%);
  --color-border-hover: hsl(213, 27%, 70%);
  --color-border-active: hsl(217, 91%, 60%);
  --color-accent-red: hsl(0, 84%, 60%);
  --color-accent-blue: hsl(217, 91%, 60%);
  --color-accent-navy: hsl(222, 47%, 18%);
}

/*.dark {
  @theme {
     Dark mode overrides
    --color-bg-primary: hsl(222, 14%, 10%);
    --color-bg-secondary: hsl(222, 14%, 15%);
    --color-text-primary: hsl(210, 40%, 98%);
    --color-text-secondary: hsl(215, 20%, 65%);
    --color-border-default: hsl(217, 19%, 27%);
    --color-border-hover: hsl(217, 19%, 40%);
    --color-border-active: hsl(217, 91%, 60%);
    --color-accent-red: hsl(0, 84%, 60%);
    --color-accent-blue: hsl(217, 91%, 60%);
    --color-accent-navy: hsl(222, 47%, 18%);
  }
}*/
